<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1 th:text="${msg}"></h1>      <br>
        <table>
            <tr>
                <th>编号</th>
                <th>名称</th>
            </tr>
            <tr th:each="user,iterStat : ${userList}">
                <th th:text="${user.uid}"></th>
                <th th:text="${user.name}"></th>
                <th th:text="${iterStat.size}"></th>
            </tr>
        </table>
</body>
</html>